* {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

html,
body {
    height: 100%;
}


/* hover : white rectangle */

.image_opacity {
    width: 100%;
    height: 0%;
    transition: .5s ease;
    /* opacity: 0; */
    opacity: 0.5;
}

.image_detail_button {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_detail_button>img {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.user_image_container:hover .user_image_container>img {
    opacity: 0.3;
}

.user_image_container:hover .image_opacity {
    height: 100%;
}

.user_image_container:hover .image_detail_button {
    opacity: 1.0;
}


/* hover : loupe image */

.image_detail {
    display: inline-block;
    transition: .5s ease;
    transition-delay: .2s;
    opacity: 0;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.user_image_container:hover .image_detail {
    opacity: 1;
    width: 30%;
}

.image_detail_btn {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
}


/* floating button*/

#float_btn {
    z-index: 989;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    transition: .3s ease;
}

#float_btn:hover {
    box-shadow: 4px 4px 5px #999;
}


/* popup */

#sc_popup,
#sc_add_popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 997;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#sc_popup_content,
#sc_add_popup_content {
    /* position: relative; */
    width: 60%;
    height: 100%;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 80px #000000;
}

#sc_popup_image_background,
#sc_popup_add_image_background {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    z-index: 998;
    overflow: hidden;
}

#sc_popup_add_image_background {
    width: 100%;
    height: 100%;
}

#sc_popup_image_background {
    background-image: url("../image/image_1.jpg");
    /* fixme : did not show the background */
}

#sc_popup_image {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    text-align: center;
    z-index: 999;
}

#sc_popup_detail,
#sc_add_popup #sc_popup_detail {
    width: 100%;
}

#detail_row,
#sc_add_popup #detail_row {
    width: 96%;
    height: 30px;
    padding: 5px 20px;
}

#detail_tags,
#sc_add_popup #detail_tags {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
}

#detail_tags>a>p {
    display: inline-block;
    color: #1d1d6d;
}

#detail_tags>a:link {
    text-decoration: none;
}

#detail_tags>a:hover {}

#detail_functions {
    display: block;
    float: right;
}

#detail_functions>img {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2.5px;
}

#detail_location {
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    vertical-align: middle;
}

#detail_location>img {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2.5px;
}

#detail_location>p {
    display: inline-block;
}

#detail_explanation {
    width: 96%;
    height: 100px;
    overflow: auto;
    padding: 5px 20px;
}

#detail_explanation>p {
    color: #333333;
}

#detail_shooting_info {
    width: 96%;
    padding: 5px 20px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

#detail_shooting_info>img {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2.5px;
}

#detail_shooting_info>p {
    display: inline-block;
}

#info_settings {
    display: block;
    float: right;
}

#info_settings>p {
    display: inline-block;
    margin: 5px;
}

#close_modal,
#close_add_modal {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.8em;
    font-weight: 600;
    z-index: 9999;
    float: right;
    background: rgba(0, 0, 0, 0);
    margin: 10px;
    transition: .1s ease;
    cursor: pointer;
}

#close_modal:hover,
#close_add_modal:hover {
    font-size: 2em;
    float: right;
}


/* add pop up */

#sc_popup_add_image {
    position: relative;
    display: block;
    background-color: #acacac;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}

#sc_popup_add_image>img {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#input_image_upload {
    display: none;
}

#sc_add_popup input,
#sc_add_popup textarea,
#sc_add_popup select {
    border: 0.5px solid #acacac;
    border-radius: 5px;
    height: 25px;
    padding: 0px 10px;
}

#detail_location>input {
    width: 500px;
}

#detail_explanation>textarea {
    margin-left: 2%;
    margin-top: 5px;
    width: 96%;
    height: 90px;
}

#detail_shooting_info>#info_camera {
    width: 180px;
}

#info_settings>input {
    text-align: center;
    width: 100px;
}