body,
html {
    font-family: 'Open Sans', 'Roboto', 'Arvo', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../image/bg_index.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sc_signin {
    width: 35%;
    height: 75%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /* transform: translate(-50%, -50%); */
    /* opacity: 0.5; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
#sc_signin>div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


#title_signin {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

#form_signin {
    width: 100%;
    text-align: center;
}

.form_input {
    width: 60%;
    height: 35px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-left: 10px;
}

#ic_signin {
    width: 10%;
    display: block;
    margin: auto;
    padding: 15px;
}

#camera{
    width: 50%;
    margin-right: 10%;
}

#ic_add{
    width: 5%;
    height: 5%;
    /* padding-top: 10px; */
    margin-left: -7.5%;
}