#hd-user-title {
    z-index: 888;
    position: fixed;
    /* overflow: hidden; */
    width: 100%;
    height: 35%;
    line-height: 35%;
    background-image: url("../image/image_6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* box-shadow:[inset] (오른쪽위치) (아래위치) (블러) (색상); */
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
}

#sc_home {
    margin: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
}
#sc_home img,
#sc_home a{
    background-color: rgba(0, 0, 0, 0);
}

#user-info {
    float: right;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    
}

#user-info img {
    width: 30px;
    height: 30px;

}
#user-info>a{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #ffffff;
}
#user-info img,
#user-info h1 {
    display: inline;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
}
